@page
@model LoginModel
@using Microsoft.AspNetCore.Hosting
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env;
@{
    ViewData["Title"] = "Log in";
}

<style>

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('https://res.cloudinary.com/luvforairplanes/image/upload/v1562365194/sample.jpg') center / cover;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    .mdl-card__supporting-text {
        padding: 28px;
    }

    .mdl-textfield {
        width: 260px;
    }

    .mdl-button {
        width: 260px;
    }

    button:last-child {
        margin-top:10px;
    }
</style>
<form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="ui form">
    <div asp-validation-summary="All" class="text-danger"></div>
    <section class="mdl-layout__tab-panel is-active">
        <div class="page-content flex-column">
            <div class="flex flex-grow-1 justify-content-center">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Welcome back</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" id="sample3" asp-for="Input.Username">
                            <label class="mdl-textfield__label" for="sample3">Username</label>
                            <span asp-validation-for="Input.Username" class="text-danger"></span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" id="sample3" asp-for="Input.Password">
                            <label class="mdl-textfield__label" for="sample3">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Continue Journey
                        </button>
                        <button asp-page-handler="" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="window.location.href = '/account/register';return false;">
                            Begin New Journey
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}