@page
@model MSUDTrack.WebApp.Pages.HistoryModel
@{
    ViewData["Title"] = "History";
}

    <section class="mdl-layout__tab-panel is-active">
        <div class="page-content flex-column">

        </div>
    </section>
