@page
@model TodayModel
@{
    ViewData["Title"] = "Today";
}

<section class="mdl-layout__tab-panel is-active">
    <div class="page-content flex-column">
        <div class="flex flex-grow-1 justify-content-center">
            <div class="align-text-center">
                <h3 class="name-title">Geneva</h3>
                <h4 class="leucine-title">Today 55mg :)</h4>
            </div>
        </div>
    </div>
</section>
