@using Microsoft.AspNetCore.Identity
@using MSUDTrack.DataModels.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form asp-controller="Account" asp-action="Logout" method="post"></form>
@if (SignInManager.IsSignedIn(User))
{
    <a class="item" asp-page="/Account/Manage/Index" data-toggle="tooltip" title="Manage My Account">@UserManager.GetUserName(User)</a>
    <a class="item" href="#" onclick="document.forms[0].submit();return false;">Log Out</a>
}
else
{
    <a class="item" href="/Account/Login">Log In</a>
}