/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.mdl-layout__header-row {
    height: 56px;
    padding: 0 0 0 10px;
}

.mdl-select {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
    width: 150px;
    padding-left:10px;
}

.mdl-select-text {
    position: relative;
    font-family: inherit;
    background-color: transparent;
    width: 150px;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    color:white;
}

select > option {
    background-color: #3f51b5
}

    /* Remove focus */
    .mdl-select-text:focus {
        outline: none;
        border-bottom: 1px solid rgba(0,0,0, 0);
    }

/* Use custom arrow */
.mdl-select .mdl-select-text {
    -webkit-appearance: none
}

.mdl-select:after {
    position: absolute;
    top: 18px;
    right: 10px;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.12);
    pointer-events: none;
}


/* LABEL ======================================= */
.mdl-select-label {
    color: rgba(0,0,0, 0.26);
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
}

/* active state */
.mdl-select-text:focus ~ .mdl-select-label, .mdl-select-text:valid ~ .mdl-select-label {
    color: #2F80ED;
    top: -20px;
    transition: 0.2s ease all;
    font-size: 14px;
}

/* BOTTOM BARS ================================= */
.mdl-select-bar {
    position: relative;
    display: block;
    width: 150px;
}

    .mdl-select-bar:before, .mdl-select-bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #2F80ED;
        transition: 0.2s ease all;
    }

    .mdl-select-bar:before {
        left: 50%;
    }

    .mdl-select-bar:after {
        right: 50%;
    }

/* active state */
.mdl-select-text:focus ~ .mdl-select-bar:before, .mdl-select-text:focus ~ .mdl-select-bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.mdl-select-highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
    color: white;
}